<div class="border-form-div">
<h2>Upload Timecard</h2>

<%= form_tag({action: :upload}, multipart: true) do %>
    <%= file_field_tag 'Upload CSV' %>
    <input name="commit" type="submit" class="btn btn-primary">
<% end %>
</div>
